body {
    font-family: sans-serif !important;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    margin: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#my-prompt,
.timer:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

button {
    display: flex;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1e1e1e;
    padding: 10px;
    z-index: 1;
    color: #fff;
}

header {
    /* background-color: #333; */
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    max-width: 100%;
    display: flex;
}

input {
    color: #fff;
    outline: none;
}

.div-main {
    display: flex;
    margin: auto;
    align-items: center;
}

.div-bottom {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.div-hint {
    display: flex;
    margin-top: 5px;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    font-size: 0.5em;
}


.timer h5 {
    display: flex;
    width: 50%;
    color: #eee;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.65em;
    justify-content: center;
}

.timer div h2 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: xx-large;
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* CSS for the floating popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #fff; */
    outline: -webkit-focus-ring-color auto 1px;
    padding: 10px;
    z-index: 1;
}

#customPrompt {
    display: none;
    position: fixed;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#promptContent {
    outline: -webkit-focus-ring-color auto 1px;
    background: #777676;
    border-radius: 5px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 3px;
}


#timer-list {
    width: 100%;
    margin-bottom: 10%;
}

.floating-button {
    display: none;
    width: 100%;
    padding: 1%;
    background-color: #494949;
    position: fixed;
    display: flex;
    bottom: 0px;
    right: 0px;
    justify-content: space-evenly;

    z-index: 1000;
    /* Adjust the z-index to make sure it appears above other elements */
}

.floating-button button {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Optional: Hover effect */
.floating-button button:hover {
    background-color: #2980b9;
}

.timer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.vert-timer {
    background-size: contain;
    /* You can use 'contain' or other values based on your preference */
    background-position: center center;
    /* You can adjust the positioning */
    background-repeat: no-repeat;
    width: 100%;
}

.tag-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags-display {
    font-size: 0.6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    box-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #3498db;
    color: #fff;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
}

.tag:hover {
    background-color: #2980b9;
}

#search-container {
    width: 100%;
    height: 5%;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #494949;
}

#my-prompt,
#search-input,
#min-remaining,
#max-remaining {
    font-family: sans-serif !important;
    width: 50%;
    color: white;
    font-size: x-small;
    background-color: #494949;
}

#my-prompt {
    background-color: #333;
}

#search-input {
    width: 100%;
}

.hidden-on-desktop {
    display: none;
}


#advanced-search-container {
    width: 100%;
    top: 5%;
    left: 0;
    text-align: center;
    justify-content: center;
}

#advanced-search-options {
    justify-content: center;
    width: 100%;
}


#colorPickerContainer {
    background-color: #ccc;
    display: flex;
    border: 1px;
    color: black;
    padding: 2px;
    border-radius: 5px;
}

#colorPicker {
    background-color: inherit;
    border: none;
}

#colorPickerConfirm {
    color: #0073e6;
}

.material-symbols-outlined {
    cursor: pointer;
    user-select: none;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}



.tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
    max-width: 500px;
    overflow: auto;
    display: block;
    z-index: 999999;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 5px;
}

.tribute-container ul {
    background: #494949;
    font-size: 0.5em;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
}

.tribute-container li {
    padding: 5px 5px;
    cursor: pointer;
}


.tribute-container li.highlight {
    background: #333 !important;
}

.tribute-container li span {
    font-weight: bold;
}

.tribute-container li.no-match {
    cursor: default;
}

.tribute-container .menu-highlighted {
    font-weight: bold;
}

.timer {
    /* background-color: #333; */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 33%;
    align-content: flex-start;
    cursor: pointer;
    user-select: none;
}

#search-container {
    display: none;
}


@media screen and (max-width: 600px) {
    .timer {
        width: 100%;
    }
    #bottom-bar,
    #search-container {
        display: flex;
    }
}

@media screen and (min-width: 600) and (max-width: 1500px) {
    .timer {
        width: 25%;
    }
}

@media screen and (min-width: 1600) and (max-width: 2500px) {
    .timer {
        width: 15%;
    }
}